@import '../../styles/variable';

.add{
  display: flex;
  flex-direction: column;
  form{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .content{
      flex: 1;
      padding: 10px;
      overflow-y: auto;
      input{
        font-size: 32px;
        text-align: right;
      }
      .template-wrap{
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
        border: 1PX solid $disabled;
        border-radius: 20px;
        .moban{
          flex: 1;
          text-align: center;
          .taro-img{
            width: 100%;
            height: 160px;
            text-align: center;
          }
        }
      }
      .upload{
        display: block;
        width: 200px;
        margin: 10px auto;
      }
    }
    .bot{
      display: flex;
      padding: 10px 16px;
      justify-content: center;
      .button{
        flex: 1;
        &:first-child{
          margin-right: 10px;
        }
      }
    }
  }
}