.tabbar-wrap{
  position: fixed;
  bottom: 0;
  height: 50PX;
  width: 100%;
  display: flex;
  .block{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    .taro-img{
      width: 27PX;
      height: 27PX;
    }
    .tab-text{
      font-size: 12PX;
    }
  }
}