@import './variable';

*{
  box-sizing: border-box;
}

ul,ol{
  li{
    list-style-position:inside
  }
}
.hide{
  display: none;
  visibility: hidden;
}

.page-title{
  z-index: 1;
  background-image: url(../../assets/images/common/erjibiaotikuang.png);
  background-size: 100% 100%;
  background-position: center center;
  padding: 20px;
  text-align: center;
  min-width: 200px;
  color: #fff;
  font-size: 32px;
}
.page-title--position{
  position: absolute;
  top: 60px;
}
.page-title--position.left{
  left: 40px;
}
.page-title--position.right{
  right: 40px;
}
.separator{
  &:not(:last-child) {
    &::after{
      content: '';
      position: absolute;
      height: 60%;
      top: 50%;
      right: -1PX;
      transform: translateY(-50%);
      border-left: 1PX solid rgba($color: #fff, $alpha: 0.3);
      border-right: 1PX solid rgba($color: $inactive, $alpha: 0.3);
    }
  }
}