@import './variable';

.form-wrap{
  padding: 20px;
  .form-item.inline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    .label{
      text-align: right;
    }
    input{
      flex: 1;
    }
  }
  .form-item{
    padding: 10px 0;
    .label{
      min-width: 120px;
      white-space: nowrap;
      padding-right: 20px;
      color: $dark;
      font-size: 32px;
      text-align: justify;
      font-weight: bold;
    }
    .remark{
      color: $disabled;
    }
    .label.required{
      &::before{
        content: '*';
        color: #f00;
      }
    }
    .value{
      font-size: 32px;
    }
    textarea{
      display: block;
      width: 100%;
      margin-top: 10px;
      height: 200px;
    }
  }
}
.form-wrap.border{
  .form-item{
    border-bottom: 1PX solid $primary;
    &:last-child{
      border: none;
    }
  }
  .no-border.form-item{
    border: none;
  }
}