// 字体
$number: Microsoft YaHei;

// 颜色
$primary: #67b2ae;
$active: #172d2c;
$inactive: #3d8380;
$disabled: #afafaf;
$grey: #ececec;
$yellow: #fdf099;
$orange: #ff6816;
$text: #6C6A6B;
$light: #4ee294;
$dark: #32908c;
$line: rgba(75, 151, 148, 0.3);
$linear: linear-gradient(#4ee294, #32908c);
$linear-btn: linear-gradient(to right, #32908c, #67b2ae);
$default-btn: #96c4bf;
$disabled-btn: #a2a1a1;