@import '../../styles/mixins';
@import '../../styles/variable';
@import '../../styles/font';

.index{
  position: relative;
  @include main-page;
  .head-wrap{
    position: relative;
    .logo{
      position: absolute;
      top: 10px;
      left: 10px;
      width: 35%;
    }
    .city-wrap{
      position: absolute;
      right: 20px;
      top: 40px;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      color: #000;
      .left{
        white-space: nowrap;
        margin-right: 10px;
      }
      .right{
        background-color: $primary;
        color: #fff;
        text-align: center;
        border-radius: 40px;
        padding: 4px 23px;
      }
    }
    .date-info-wrap{
      position: absolute;
      bottom: 60px;
      left: 60px;
      display: flex;
      flex-direction: column;
      .small{
        font-size: 30px;
      }
      .big{
        font-size: 60px;
        font-weight: bolder;
      }
      .taro-text{
        line-height: 1.3;
      }
    }
  }
  .inner{
    padding: 0 20px;
    .content{
      position: relative;
      margin-top: 25PX;
      padding: 70px 0 30px 0;
      border: 1PX solid $dark;
      background-image: url(../../assets/images/common/zhixunkuang.png);
      background-size: cover;
      background-position: center;
      background-repeat: repeat;
      border-radius: 20px;
      .title-outter-wrap{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        .title-inner-wrap{
          background-color: #fff;
          border-radius: 60px;
          border: 1PX solid $dark;
          .title{
            background-image: url(../../assets/images/common/biaotidikuang.png);
            background-size: cover;
            background-position: center;
            color: $yellow;
            padding: 16px 40px;
            border-radius: 60px;
            margin: 2PX;
            font-size: 32px;
            text-shadow:  $dark 1PX 0 0, $dark 0 1PX 0, $dark -1PX 0 0, $dark 0 -1PX 0;
          }
        }
        .cloud{
          position: absolute;
          bottom: 0;
          width: 140px;
        }
        .left.cloud{
          z-index: -2;
          left: 0;
          transform: rotateY(180deg) translate(60%, 40%);
        }
        .right.cloud{
          transform: translate(70%, 50%);
          right: 0;
        }
      }
      .tabs-wrap{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .tab{
          font-size: 20px;
          color: $primary;
        }
        .tab.active{
          color: $dark;
          font-weight: bold;
        }
      }
    }
  }
}