@import '../../styles/mixins';
@import '../../styles/variable';
@import '../../styles/font';

.mall{
  position: relative;
  @include main-page;
  .head-wrap{
    position: relative;
    .head-bar{
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 0 40px;
      z-index: 1;
      display: flex;
      justify-content: space-between;
    }
    .head-title{
      z-index: 1;
      background-image: url(../../assets/images/common/erjibiaotikuang.png);
      background-size: 100% 100%;
      background-position: center center;
      padding: 20px 60px;
      color: #fff;
      font-size: 32px;
    }
  }
  .inner{
    .content{
      padding: 10px 0;
      position: relative;
      margin-top: 25PX;
      .taro-scroll{
        height: 1000px;
        padding: 0 40px;
        .list-wrap{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .list{
            text-align: center;
            box-shadow: rgba($color: #000000, $alpha: 0.3) 0px 0px 1px 1px;
            background: #fff;
            width: calc((100% - 20px)/2);
            margin-bottom: 20px;
            &:last-child(n+3) {
              margin: 0;
            }
            .name{
              font-size: 32px;
            }
            .number{
              font-size: 28px;
              line-height: 2;
            }
          }
        }
      }
    }
  }
}