.news{
  display: flex;
  flex-direction: column;
  .content{
    padding: 40px;
    flex: 1;
    overflow-y: auto;
    .time{
      font-size: 24px;
    }
    .rich-text{
      margin-top: 20px;
    }
  }
}