@import '../../styles/variable';

.wallet{
  display: flex;
  flex-direction: column;
  .yue{
    text-align: center;
    padding: 20px 0;
    .yue-name{
      color: $dark;
      padding-right: 20px;;
    }
  }
  .scroll-wrap{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    .taro-scroll{
      flex: 1;
      padding: 0 20px;
      .block{
        margin-bottom: 14px;
        border: 1PX solid $grey;
        border-radius: 20px;
        padding: 20px;
        box-shadow: rgba($color: #000000, $alpha: 0.3) 0px 0px 3px 1px inset;
        background: #fff;
        .action{
          color: $dark;
          font-weight: bold;
          font-size: 30px;
        }
        .money{
          font-size: 30px;
          line-height: 1.5;
          .label{
            color: $disabled;
          }
        }
        .label{
          color: $disabled;
          font-size: 28px;
          line-height: 1.5;
        }
      }
    }
  }
  .bg-img{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 480px;
  }
}